*
  box-sizing: border-box

body, html
  box-sizing: border-box

body
  display: block
  font-family: 'Roboto', -apple-system, Helvetica Neue, sans-serif
  letter-spacing: .1rem
  margin: 0
  padding: 0
  background-color: var(--primary-black)

a
  color: var(--anchor)
  text-decoration: none

  &:hover
    color: var(--anchor-hover)

label
  cursor: inherit
