@use "common/styles/variables/classes" as *

.container
    display: flex
    flex-direction: column

    position: relative

    min-height: 60vh
    width: 100%
    margin: auto
    padding: 20px
    overflow: hidden

    form
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 40px

        color: white

        width: 100%

        section
            display: flex
            flex-flow: column nowrap
            width: 100%

        @media screen and (min-width: 600px)

        label
            font-size: 1.7rem
            text-transform: uppercase
            font-weight: 600
            margin-block: 10px

        input, textarea
            font-family: 'Roboto', -apple-system, Helvetica Neue, sans-serif
            font-size: 1.3rem
            padding: .5em
            margin-bottom: 10px
            resize: none
            font-weight: 600

        .submit
            background-color: white
            font-weight: 700
            text-align: left
            margin-top: 10px

        .submitDisclaimer
            display: flex
            align-items: flex-start

            input
                width: 4rem
                vertical-align: middle
                margin: .8rem
                scale: 150%

                cursor: pointer

            p
                margin: 0
                line-height: 180%

    .alert
        background-color: var(--alert-background)
        color: var(--alert-color)

        font-size: 1.2rem
        font-weight: 600
        border-radius: 10px
        text-align: center

        width: 90%
        max-width: 1000px

        position: fixed
        z-index: 3
        top: 50px
        left: 50%
        transform: translate(-50%,-50%)

        p
            margin: 10px

        .close
            position: absolute
            font-size: 1.3rem
            font-weight: 600
            top: 5px
            right: 15px
            cursor: pointer

    .loading
        background-color: var(--disclaimer-background)
        color: var(--disclaimer-color)

        padding-top: 450px
        padding-left: 10%
        width: 100%
        height: 100%

        font-size: 2rem
        font-weight: 600

        position: absolute
        left: 0
        top: 0

    @media screen and ( min-width: 900px  )
        width: 90%
        max-width: 1600px
