.container
    .header
        .cover
            display: flex
            justify-content: center
            margin: auto
            width: 100%
            background-color: black

            img
                max-width: 100%
                max-height: 100px
                margin-block: 10px
                object-fit: contain

        .menu
            display: inline-flex
            flex-flow: row nowrap
            justify-content: space-evenly
            width: 100%

            position: sticky
            top: 0
            z-index: 1

            color: white
            background-color: black

            padding: 10px

            @media screen and ( min-width: 600px )
                font-size: 1.5rem

            .menuOption:hover, svg:hover
                color: var(--primary-red)
                cursor: pointer

            .active
                color: var(--primary-red)

            svg
                width: 1rem
                margin-right: 0.5em

        @media screen and ( min-width: 1000px)
            position: absolute
            top: 0
            width: 100%
            z-index: 10
            opacity: 80%

            display: flex
            align-items: flex-end
            justify-content: left
            background-color: black

            .cover
                width: fit-content
                max-width: unset
                padding: 10px
                margin-left: 30px
                img
                    width: fit-content
                    max-height: 100px
                    margin: 0

            &:hover
                opacity: 100%

    .footer
        display: inline-flex
        flex-flow: row wrap
        justify-content: space-evenly
        align-items: center
        gap: 10px

        width: 100%
        padding: 2rem
        background-color: black

        color: white
        font-size: 1rem

        .credits a
            font-weight: 600
            &:hover
                background: linear-gradient(to right, white, #4f8, #f0f, #fb9, #fff)
                -webkit-text-fill-color: transparent
                -webkit-background-clip: text
                animation: rainbow-animation linear 1000s infinite
                left: 50%
                transform: translate(-50%,-50%)

                @keyframes rainbow-animation
                    to
                        background-position: 4500vh

        .list
            display: flex
            flex-flow: column
    @media only screen and (max-width: 900px)
        .footer
            flex-flow: column
            text-align: center
            gap: 30px

    @media only screen and (max-width: 600px)
        .footer
            padding-bottom: 130px
