.form {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin: auto;
  margin-bottom: 40px;

  color: white;
  max-width: 500px;
}

.form-title {
  font-size: 2rem;
  color: var(--primary-red);
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.form-label {
  margin-top: 10px;
}

.form-input {
  font-family: 'Open Sans', -apple-system,   Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  padding: .5em;
  margin-bottom: 10px;
  resize: none;
}

.form-submit {
  text-align: left;
  margin-top: 10px;
}

.form-alert {
  font-family: roboto, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  padding: .7em;
  border-radius: 10px;
  text-align: center;
}

.form-alert-a {
  color: rgb(61, 0, 0);
  font-family: arial, sans-serif;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
  .form-container {
    width: 90%;
    max-width: 500px;
  }
}
