:root {
  --primary-black: rgb(39, 39, 39);
  --secondary-black: rgb(61, 61, 61);
  
  --primary-red: rgb(255, 27, 65);

  --visited: rgb(173, 7, 7);
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', -apple-system,   Helvetica Neue, sans-serif;
  letter-spacing: .1rem;
  margin:0;
  padding:0;
  font-size: 1.5rem;
  min-width: 600px;
  background-color: var(--primary-black);
}

h1, h2 {
  font-family: 'Rubik Dirt', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

label{
  cursor: inherit;
}


.container {
  max-width: 60rem;
  margin: auto;
}

.bordered { border: 2px solid red; }

.justify { text-align: justify; }

.hide { display: none }