.header
    @media screen and ( min-width: 800px)
        position: absolute
        top: 0
        width: 100%
        z-index: 3
        opacity: 80%

        display: flex
        align-items: flex-end
        justify-content: left
        background-color: black

        &:hover
            opacity: 100%
    .cover
        display: flex
        justify-content: center
        margin: auto
        width: 100%
        background-color: black
        cursor: pointer

        @media screen and ( min-width: 800px  )
            width: fit-content
            max-width: unset
            padding: 10px
            margin-left: 30px

        img
            max-width: 100%
            max-height: 100px
            margin-block: 10px
            object-fit: contain

            @media screen and ( min-width: 800px  )
                width: fit-content
                max-height: 80px
                scale: 120%
                margin: 0
                z-index: 5

    .menu
        position: static
        display: inline-flex

.menu
    display: none
    flex-flow: row nowrap
    justify-content: space-evenly
    width: 100%

    position: fixed
    top: 0
    color: white
    background-color: black

    padding: 10px

    @media screen and ( min-width: 600px )
        font-size: 1.5rem
    @media screen and ( min-width: 800px )
        display: inline-flex

    .menuOption:hover, svg:hover
        color: var(--primary-red)
        cursor: pointer

    .active
        color: var(--primary-red)

    svg
        width: 1rem
        margin-right: 0.5em
