.container
    display: grid
    grid-template-columns: 1fr
    justify-content: center
    align-items: center
    margin: auto

.whatsappButton
    display: flex
    flex-wrap: nowrap
    justify-content: center
    position: fixed
    width: 80%

    bottom: 50px
    left: 0
    right: 0
    margin: auto
    padding: 0.5em 0.8em

    color: white
    background-color: green
    border-radius: 10px
    opacity: 90%

    animation: fade-in 3s

    *
        color: white

    &:hover
        opacity: 100%
        cursor: pointer

    svg
        position: absolute
        bottom: -12px
        left: 20px
        width: 1.5rem
        height: 3.6rem

    @media only screen and (min-width: 600px)
        width: fit-content
        left: unset
        right: clamp(10px, 4vw, 102px)
        margin: 0
        border-radius: 40px

        span
            display: none
        svg
            position: relative
            width: fit-content
            height: 50px
            bottom: 0
            left: 0

@keyframes fade-in
    0%
        opacity: 0%

    100%
        opacity: 95%
